PORT=3001
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-secret
MSSQL_CONNECTION_STRING=Data Source=127.0.0.1,1433;Initial Catalog=LINKON;User ID=linkon;Password=p@ssw0rd!2
QMF_TABLE=
AUTH_USER_TABLE=QSECUSRDEF
SECURITY_KEY_FILE=C:\secure\linkonx.key
QSF_ROOT_DIR=D:\01.LinkOnX_Data\TLS\Data
LOGIN_RATE_LIMIT_ENABLED=true
