PORT=3001
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=change-this-secret
MSSQL_CONNECTION_STRING=Data Source=192.168.0.111,1433;Initial Catalog=LINKON;User ID=linkon;Password=p@ssw0rd!2;Encrypt=False;TrustServerCertificate=True
QMF_TABLE=dbo.LinkOnX_QueryDeveloperQmf
AUTH_USER_TABLE=dbo.QSECUSRDEF
SECURITY_KEY=
# SECURITY_KEY_FILE=C:\secure\linkonx.key
LOGIN_RATE_LIMIT_ENABLED=true
